{% extends "Registro_lol/base.html" %}

{% block main %}

<br>
<br>
<br>

<img src="https://resizer.iproimg.com/unsafe/880x/filters:format(webp)/https://assets.iprofesional.com/assets/jpg/2022/01/530304.jpg" alt="Stickman" width="400" height="200">

<p> Bienvenid@, me llamo Patricio González.</p>
<p> Soy Analista programador computacional y desempeño la labor de Analista de datos en IQVIA, la empresa líder en gestión de datos relacionados a la salud. </p>
<p> Esta página ha sido creada con la finalidad de poner en práctica todo lo aprenido en el curso Python de Coderhouse. </p>
<p> Dejo este aparatado para mis fuentes de contacto:</p>
<a href="https://www.linkedin.com/feed/"> Linkedin </a>
<br>
<a href="https://www.instagram.com/patomarchela/"> Instagram </a>
<br>
<a>Tel: +569 62971693</a>
<br>
<br>
<p> ¡Muchas gracias por visitarnos!</p>
{% endblock %}

